@charset "utf-8";
* {
    margin: 0;
    padding: 0
}
a {
    text-decoration: none;
    color: black;
    text-transform: capitalize;
    margin:0 10px
}
.site_header {
    width: 1280px;
    margin: 50px auto;    
    display: flex; /* 표시: 플렉스 */
    justify-content: space-between;
    align-items: center
}
.site_visual {
    height: 450px;
    overflow: hidden;
    background-image: url('../images/welcome.png');
    background-position: 0% 20%;
    background-size: cover;
}
.ranking {
    width: 1280px;
    margin: 0 auto;
    padding: 50px 0;
}
.ranking_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tabs {
    display: flex
}
/* 6 선택자 : 그룹 선택자 , */
.tabs h1, .tabs h2 {
    font-size: 20px
}
.tabs h2 {
    color: lightgray
}
.all {
    border-radius: 15px;
    font-size: 14px;
    padding: 5px 10px
}